name: time-series-with-bayesian-modelling

channels:
  - conda-forge
  - apple

dependencies:
  - python=3.10
  - pip>=19
  - pandas
  - numpy=1.21.*
  - tensorflow
  - apple::tensorflow-deps
  - jupyter
  - matplotlib
  - scikit-learn
  - statsmodels
  - pystan
  - pip:
    - tensorflow-macos
    - tensorflow-metal
    - tensorflow-probability
    - pmdarima
    - prophet
    - plotly
    - seaborn

post-update: |
  CONDA_ENVS=$(conda info --envs | grep \* | awk '{print $NF}')
  ENV_NAME=time-series-with-bayesian-modelling
  cd "$CONDA_ENVS/envs/$ENV_NAME/lib/python3.10/site-packages"
  install_name_tool -add_rpath @executable_path/cmdstan-2.26.1/stan/lib/stan_math/lib/tbb prophet_model.bin
